<div class="container">
  <mat-card>
    <mat-card-content>
      <div>
        <h2>Ejercicio 2</h2>
        <p>Seleccionar las respuestas correctas.</p>
        <form [formGroup]="questionForm" (ngSubmit)="onSubmit()">
          <ul>
            @for (question of questions; track question) {
            <li>
              <p>{{ question.question }}</p>

              <mat-radio-group
                aria-labelledby="example-radio-group-label"
                class="example-radio-group"
                [formControlName]="'question' + question.question"
              >
                @for (option of question.options; track option) {
                <mat-radio-button class="example-radio-button" [value]="option"
                  >{{ option.id }}. {{ option.text }}</mat-radio-button
                >
                }
              </mat-radio-group>
            </li>
            }
          </ul>

          <div class="button-center">
            <button mat-flat-button color="primary" type="submit">
              Comprobar
            </button>
          </div>
          </form>
      </div>
    </mat-card-content>
  </mat-card>
</div>
